<div class="card" style="width: 18rem;">
    <img src="https://www.bookshop.com.uy/media/catalog/product/cache/1/thumbnail/400x/17f82f742ffe127f42dca9de82fb58b1/3/1/311491_portada_la-vida-ese-parentesis_mario-benedetti_201911061841.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{libro.nombre}}></h5>
      <p class="card-text">{{libro.autor}}></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
    </ul>
    <div class="card-body">
    </div>
</div>
